<link rel="stylesheet" href="./static/style.css" type="text/css">
{% block body %}

<script>
function alertText(){
 alert("Please wait while we downloading the images for you")
}
</script>
<div class="btn-group">

</div>

<form action="/searchImages" method="POST">
	<div class="user-input">
		<div class="login-screen">
			<div class="app-title">
				<h1>Download Images From Web</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input style="width:800px" type="text" class="login-field"  required="" placeholder="Enter keyword" name="search_term"></br>
				<input style="width:800px" type="text" class="login"  required="" placeholder="Enter freq" name="frequency"></br>
				<input type="submit" value="Submit" onclick="alertText()" class="btn btn-primary btn-large btn-block" >
			    <br>
				</div>

			</div>

		</div>
	</div>
</form>

{% endblock %}